.grid {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 { 
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px; 
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
}

.grid-solution {
  grid-template-columns: 30% 1fr;
}

@media only screen and (max-width: 960px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }
}

.flex {
  display: flex;
  height: 100%;
}